Repository maskshell/ai-coding-rules: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdown-format, markdown-lint, python-check

.pre-commit-config.yaml:

repos:
  # Commit message 格式检查（Conventional Commits）
  # 遵循项目 Git 仓库管理规范：type(scope): subject
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.0.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [--strict]

  # 敏感信息检查
  # 防止提交密码、密钥等敏感信息（符合 Git 仓库管理规范）
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: |
          (?x)^(
            .*\.lock\.json$|
            .*\.log$|
            .*\.pyc$|
            __pycache__/.*
          )$

  # 本地脚本检查
  - repo: local
    hooks:
      # Markdown 格式化（自动修复格式问题）
      - id: markdown-format
        name: Format Markdown files
        entry: python scripts/format-md.py
        language: system
        types: [markdown]
        pass_filenames: true
        args: []
      
      # Markdown linting（检查格式，不自动修复）
      - id: markdown-lint
        name: Lint Markdown files
        entry: python scripts/lint-md.py
        language: system
        types: [markdown]
        pass_filenames: true
        args: [--check]

      # Python 代码语法检查
      # 确保代码可编译/运行（符合 Git 仓库管理规范）
      - id: python-check
        name: Check Python code syntax
        entry: python -m py_compile
        language: system
        types: [python]
        pass_filenames: true

docs: update documentation and add project configuration
  .github/workflows/lint-markdown.yml
  CONTRIBUTING.md
  IMPROVEMENT_PLAN.md
  README.md
  docs/mdc-conditional-mode-analysis.md
  docs/tech-stack-recommendation.md
  pyproject.toml
  pytest.ini
Due: markdown-format, markdown-lint

feat(mdc): add MDC format migration tools and specification
  IMPROVEMENT_PLAN.md
  docs/mdc-frontmatter-spec.md
  pyproject.toml
  scripts/migrate-to-mdc.py
  scripts/validate-mdc.py
Due: markdown-format, markdown-lint, python-check

refactor(rules): migrate .cursor/rules to MDC format
  .cursor/rules/01-python-basics.mdc
  .cursor/rules/02-fastapi-schema.mdc
  .cursor/rules/meta-rules.mdc
Due: none

refactor(concise-rules): migrate all rules to MDC format
  .concise-rules/ide-layer/01-general.mdc
  .concise-rules/ide-layer/02-testing.mdc
  .concise-rules/ide-layer/03-security.mdc
  .concise-rules/ide-layer/04-ai-behavior.mdc
  .concise-rules/ide-layer/05-git-repository.mdc
  .concise-rules/project-templates/fullstack-monorepo/01-fullstack-overview.mdc
  .concise-rules/project-templates/python-backend/01-python-basics.mdc
  .concise-rules/project-templates/react-app/01-react-basics.mdc
  .concise-rules/project-templates/spring-boot-app/.cursor/rules/01-spring-boot-basics.mdc
  .concise-rules/project-templates/spring-boot-app/.cursor/rules/02-spring-boot-architecture.mdc
  .concise-rules/project-templates/spring-boot-app/.cursor/rules/03-spring-boot-data-access.mdc
  .concise-rules/project-templates/vue-app/01-vue-basics.mdc
Due: none

refactor(full-rules): migrate all rules to MDC format
  full-rules/ide-layer/rulesets/01-general.mdc
  full-rules/ide-layer/rulesets/02-testing.mdc
  full-rules/ide-layer/rulesets/03-security.mdc
  full-rules/ide-layer/rulesets/04-ai-behavior.mdc
  full-rules/ide-layer/rulesets/05-git-repository.mdc
  full-rules/project-templates/fullstack-monorepo/.cursor/rules/01-fullstack-overview.mdc
  full-rules/project-templates/python-backend/.cursor/rules/01-python-basics.mdc
  full-rules/project-templates/python-backend/.cursor/rules/02-fastapi-schema.mdc
  full-rules/project-templates/react-app/.cursor/rules/01-react-basics.mdc
  full-rules/project-templates/react-app/.cursor/rules/02-react-ui.mdc
  full-rules/project-templates/spring-boot-app/.cursor/rules/01-spring-boot-basics.mdc
  full-rules/project-templates/spring-boot-app/.cursor/rules/02-spring-boot-architecture.mdc
  full-rules/project-templates/spring-boot-app/.cursor/rules/03-spring-boot-data-access.mdc
  full-rules/project-templates/vue-app/.cursor/rules/01-vue-basics.mdc
  full-rules/project-templates/vue-app/.cursor/rules/02-vue-store.mdc
Due: none

refactor(rules): remove original .md files after MDC migration
  .cursor/rules/01-python-basics.md
  .cursor/rules/02-fastapi-schema.md
  .cursor/rules/meta-rules.md
Due: markdown-format, markdown-lint

chore(deps): add uv.lock dependency lock file
  uv.lock
Due: none

docs: update project repository URLs to official address
  .concise-rules/README.md
  CHANGELOG.md
  CONTRIBUTING.md
  IMPROVEMENT_PLAN.md
  docs/mdc-conditional-mode-analysis.md
  docs/mdc-frontmatter-spec.md
  docs/rule-writing-guide.md
  docs/tech-stack-recommendation.md
Due: markdown-format, markdown-lint

feat(pre-commit): add Python, JSON, and YAML lint and format checks
  .pre-commit-config.yaml
  PRE_COMMIT_RULES.md
  pyproject.toml
Due: markdown-format, markdown-lint

docs(plan): update improvement plan progress
  IMPROVEMENT_PLAN.md
Due: markdown-format, markdown-lint

style(scripts): apply Ruff formatting to Python scripts
  scripts/lint-md.py
  scripts/migrate-to-mdc.py
  scripts/validate-mdc.py
Due: python-check

docs(readme): add bilingual support with language switcher
  README.cn.md
  README.md
Due: markdown-format, markdown-lint

feat(scripts): 实现阶段2自动化验证工具
  .pre-commit-config.yaml
  pyproject.toml
  scripts/calculate-tokens.py
  scripts/lint-rules.py
Due: python-check

feat(rules): 添加本地工具优先使用规则
  .concise-rules/ide-layer/04-ai-behavior.mdc
  full-rules/ide-layer/rulesets/04-ai-behavior.mdc
Due: none

docs(plan): 更新阶段2完成度和方案调整
  IMPROVEMENT_PLAN.md
Due: markdown-format, markdown-lint

style(workflow): 统一 YAML 文件引号格式
  .github/workflows/lint-markdown.yml
Due: none

feat(ci): 集成阶段2验证工具到CI/CD流程
  .github/workflows/lint-markdown.yml
Due: none

feat(ci): 实现 PR 质量门禁（quality-gate）
  .github/workflows/pr-quality-gate.yml
  scripts/generate-pr-report.py
Due: python-check

docs(plan): 更新阶段3.1完成状态
  IMPROVEMENT_PLAN.md
Due: markdown-format, markdown-lint

fix(pre-commit): 修复 pre-commit hooks 配置和脚本支持
  scripts/format-md.py
  scripts/lint-md.py
  scripts/lint-rules.py
  scripts/migrate-to-mdc.py
  scripts/validate-mdc.py
  tests/test_format_md.py
  tests/test_lint_md.py
Due: python-check

style(workflow): 格式化 pr-quality-gate.yml
  .github/workflows/pr-quality-gate.yml
Due: none

config: 添加 Prettier 配置文件
  .pre-commit-config.yaml
  .prettierignore
  .prettierrc.yaml
Due: none

fix(config): 修复 pyproject.toml 构建配置以支持 uv sync
  pyproject.toml
Due: none

fix(script): 修复 generate-pr-report.py 的 lint 错误
  .cursor/rules/meta-rules.mdc
  README.md
  docs/ai-coding-tools.md
  docs/vibe-coding-tools.md
  scripts/generate-pr-report.py
  tests/README.md
  uv.lock
Due: markdown-format, markdown-lint, python-check

chore: tighten ignore list and secrets baseline
  .gitignore
  .secrets.baseline
Due: none

docs: refine READMEs and exclude them from rule-specific lint
  .pre-commit-config.yaml
  README.cn.md
  README.md
Due: markdown-format, markdown-lint

docs: simplify prompt example in README and add OpenResty Lua template
  .concise-rules/project-templates/openresty-lua/01-openresty-lua-basics.mdc
  .concise-rules/project-templates/openresty-lua/02-openresty-architecture.mdc
  .concise-rules/project-templates/openresty-lua/03-openresty-api.mdc
  .prettierrc.yaml
  README.cn.md
  README.md
  full-rules/project-templates/openresty-lua/.cursor/coderules/01-openresty-lua-basics.mdc
  full-rules/project-templates/openresty-lua/.cursor/coderules/02-openresty-architecture.mdc
  full-rules/project-templates/openresty-lua/.cursor/coderules/03-openresty-api.mdc
  scripts/lint-rules.py
Due: markdown-format, markdown-lint, python-check

docs: 清理中间产物文档并修复部分 lint 错误
  .concise-rules/ide-layer/02-testing.mdc
  .concise-rules/ide-layer/06-memory-tools.mdc
  .concise-rules/ide-layer/07-ast-grep.mdc
  .concise-rules/ide-layer/08-development-workflow.mdc
  docs/README.md
  docs/ai-coding-tools.md
  docs/ai-tools-compatibility.md
  full-rules/ide-layer/rulesets/02-testing.mdc
  full-rules/ide-layer/rulesets/06-memory-tools.mdc
  full-rules/ide-layer/rulesets/07-ast-grep.mdc
  full-rules/ide-layer/rulesets/08-development-workflow.mdc
Due: markdown-format, markdown-lint

feat(templates): add shell-scripts project template
  .concise-rules/project-templates/shell-scripts/01-shell-basics.mdc
  .concise-rules/project-templates/shell-scripts/02-shell-advanced.mdc
  .concise-rules/project-templates/shell-scripts/03-shell-compatibility.mdc
  README.cn.md
  README.md
  docs/rule-writing-guide.md
  full-rules/project-templates/shell-scripts/.cursor/rules/01-shell-basics.mdc
  full-rules/project-templates/shell-scripts/.cursor/rules/02-shell-advanced.mdc
  full-rules/project-templates/shell-scripts/.cursor/rules/03-shell-compatibility.mdc
  full-rules/project-templates/shell-scripts/docs/coding-standards.md
  scripts/lint-md.py
Due: markdown-format, markdown-lint, python-check

fix(lint): exclude code block content from header checks
  scripts/lint-md.py
Due: python-check

fix(lint): relax code example requirement for concise rules
  scripts/lint-rules.py
Due: python-check

fix(lint): relax code example requirement for IDE layer rules
  scripts/lint-rules.py
Due: python-check

fix: rename coderules to rules for openresty-lua template
  docs/ai-tools-compatibility.md
  full-rules/project-templates/openresty-lua/.cursor/rules/01-openresty-lua-basics.mdc
  full-rules/project-templates/openresty-lua/.cursor/rules/02-openresty-architecture.mdc
  full-rules/project-templates/openresty-lua/.cursor/rules/03-openresty-api.mdc
Due: markdown-format, markdown-lint

feat: 完善 Spring Boot 2.0 规则并更新元规则
  .concise-rules/project-templates/spring-boot-2-app/01-spring-boot-2-basics.mdc
  .concise-rules/project-templates/spring-boot-2-app/02-spring-boot-2-architecture.mdc
  .concise-rules/project-templates/spring-boot-2-app/03-spring-boot-2-data-access.mdc
  .cursor/rules/meta-rules.mdc
  full-rules/project-templates/spring-boot-2-app/.cursor/rules/01-spring-boot-2-basics.mdc
  full-rules/project-templates/spring-boot-2-app/.cursor/rules/02-spring-boot-2-architecture.mdc
  full-rules/project-templates/spring-boot-2-app/.cursor/rules/03-spring-boot-2-data-access.mdc
  full-rules/project-templates/spring-boot-2-app/docs/coding-standards.md
Due: markdown-format, markdown-lint

style: 调整 Spring Boot 精简版规则文件格式
  .concise-rules/project-templates/spring-boot-app/.cursor/rules/02-spring-boot-architecture.mdc
  .concise-rules/project-templates/spring-boot-app/.cursor/rules/03-spring-boot-data-access.mdc
Due: none

docs(git): 添加 commit message 准确性验证规则
  .concise-rules/ide-layer/05-git-repository.mdc
  .cursor/rules/meta-rules.mdc
  full-rules/ide-layer/rulesets/05-git-repository.mdc
Due: none

feat(templates): add SQL queries optimization project template
  .concise-rules/project-templates/sql-queries/01-sql-optimization.mdc
  full-rules/project-templates/sql-queries/.cursor/rules/01-sql-optimization.mdc
  full-rules/project-templates/sql-queries/docs/coding-standards.md
Due: markdown-format, markdown-lint

docs: add scripts usage documentation
  docs/README.md
  docs/scripts-usage.md
Due: markdown-format, markdown-lint

feat(project-templates): add Rust application rules
  .concise-rules/ide-layer/04-ai-behavior.mdc
  .concise-rules/ide-layer/05-git-repository.mdc
  .concise-rules/ide-layer/09-search-optimization.mdc
  .concise-rules/project-templates/rust-app/01-rust-basics.mdc
  .concise-rules/project-templates/rust-app/02-rust-architecture.mdc
  .concise-rules/project-templates/rust-app/03-rust-api.mdc
  docs/README.md
  docs/ide-layer-alwaysapply-analysis.md
  full-rules/ide-layer/rulesets/04-ai-behavior.mdc
  full-rules/ide-layer/rulesets/05-git-repository.mdc
  full-rules/ide-layer/rulesets/09-search-optimization.mdc
  full-rules/project-templates/rust-app/.cursor/rules/01-rust-basics.mdc
  full-rules/project-templates/rust-app/.cursor/rules/02-rust-architecture.mdc
  full-rules/project-templates/rust-app/.cursor/rules/03-rust-api.mdc
  full-rules/project-templates/rust-app/docs/coding-standards.md
Due: markdown-format, markdown-lint

refactor(search-optimization): enhance search strategies for dynamic date handling
  .concise-rules/ide-layer/09-search-optimization.mdc
  .cursor/rules/meta-rules.mdc
  full-rules/ide-layer/rulesets/09-search-optimization.mdc
Due: none
